:root {
  --primary-clr: #b38add;
  --bg-color: #e2e1dc;
  --bg-color-2: #373c4f;
}

body {
  background-color: var(--bg-color);
}

.container {
  position: relative;
  width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
}

.calendar_container {
  color: black;
  background-color: white;
  box-shadow: 0.2px 0.8px 2.2px rgba(0, 0, 0, 0.02),
    0.6px 1.9px 5.3px rgba(0, 0, 0, 0.028),
    1.1px 3.6px 10px rgba(0, 0, 0, 0.035), 2px 6.5px 17.9px rgba(0, 0, 0, 0.042),
    3.8px 12.1px 33.4px rgba(0, 0, 0, 0.05), 9px 29px 80px rgba(0, 0, 0, 0.07);
}

.left {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_center {
  color: rgb(255, 247, 247);
  font-weight: bold;
  margin: 10px 0px;
  padding: 10px 20px;
}

/* ///////////////Right\\\\\\\\\\\\\\\\ */

.right {
  width: 50%;
  height: 600px;
  border-radius: 5px;
  margin: 20px 50px;
  padding: 20px;
  background-color: white;
  overflow-y: auto;
  box-shadow: 0.2px 0.8px 2.2px rgba(0, 0, 0, 0.02),
    0.6px 1.9px 5.3px rgba(0, 0, 0, 0.028),
    1.1px 3.6px 10px rgba(0, 0, 0, 0.035), 2px 6.5px 17.9px rgba(0, 0, 0, 0.042),
    3.8px 12.1px 33.4px rgba(0, 0, 0, 0.05), 9px 29px 80px rgba(0, 0, 0, 0.07);
}

.right::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  /* Ocultar scroll */
}

.right::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  border-radius: 20px;
}

.right::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.today a{
  color: #878895;
}
.today {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #878895;
  color: #878895;
}
.today span {
  font-weight: 800;
}
.today h3 {
  font-size: 20px;
  font-weight: bolder;

  line-height: 40px;
}
