.containerImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.containerImage p {
  font-size: 60px;
}

@media (min-width: 640px) {
  .containerImage p {
    font-size: 90px;
  }
}

@media (min-width: 1024px) {
  .containerImage p {
    font-size: 150px;
  }
}
